.main_contain{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 0, 0, 0), rgba(0, 0, 0, 1)), url(../../assets/to-description.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries */
@media (min-width: 0px){
    .main_contain{
        height: 80.5vh;
    }
}

@media (min-width: 443px){
    .main_contain{
        height: 84vh;
    }
}

@media (min-width: 768px){
    .main_contain{
        height: 85vh;
    }
}

@media (min-width: 1024px){
    .main_contain{
        height: 82.9vh;
    }
}